*{
    box-sizing: border-box;

}

body{
    background-color: black;
    color: white;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 5%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5%;
}

@media screen and (width< 600px) {
    .image img{
        width: 150px;
        height: 215px;
    }

    .logo img{
        width: 86px;
        height: auto;
    }
}